*:focus-visible {
  outline: 2px solid var(--cor-primaria);
  outline-offset: 4px;
}

body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-primaria);
  color: var(--cor-texto);
  padding: var(--espaco-20);
}
