/* Arquitetura SMACSS:
 * 1) base = fundamentos (reset, tokens, base)
 * 2) layout = estrutura (classes l-*)
 * 3) module = componentes visuais reutilizaveis
 * 4) state = estados (classes is-*)
 */
@import "./base/reset.css";
@import "./base/tokens.css";
@import "./base/base.css";

@import "./layout/l-cabecalho.css";
@import "./layout/l-conteudo.css";
@import "./layout/l-navegacao.css";
@import "./layout/l-banner.css";
@import "./layout/l-vantagens.css";
@import "./layout/l-rodape.css";

@import "./module/logo.css";
@import "./module/navegacao.css";
@import "./module/banner.css";
@import "./module/vantagens.css";
@import "./module/rodape.css";

@import "./state/estado.css";
