/* Arquitetura SMACSS:
 * 1) base = fundamentos (reset, tokens, base)
 * 2) layout = estrutura (classes l-*)
 * 3) module = componentes visuais reutilizaveis
 * 4) state = estados (classes is-*)
 */
@import "./base/reset.css";
@import "./base/tokens.css";
@import "./base/base.css";

@import "./layout/l-header.css";
@import "./layout/l-main.css";
@import "./layout/l-nav.css";
@import "./layout/l-banner.css";
@import "./layout/l-advantages.css";
@import "./layout/l-footer.css";

@import "./module/logo.css";
@import "./module/navigation.css";
@import "./module/banner.css";
@import "./module/advantages.css";
@import "./module/footer.css";

@import "./state/state.css";
