.advantages__title {
  font-size: var(--texto-64);
  color: #767676;
  text-transform: uppercase;
}

.advantages__content {
  background-color: #fff;
}

.advantages__item {
  transition: color 0.3s ease;
  border-left: 0.25rem solid transparent;
}

.advantages__item:nth-child(odd) {
  background-color: #f7f7f7;
}

.advantages__item:hover {
  border-color: #ee2211;
}

.advantages__item-title {
  font-size: var(--texto-18);
}

.advantages__item-description {
  font-size: var(--texto-20);
  line-height: var(--linha-130);
}

@media (width <= 56.25rem) {
  .advantages__title {
    font-size: var(--texto-40);
  }
}

@media (max-width: 37.5rem) {
  .advantages__item-description {
    font-size: var(--texto-16);
  }
}
