.nav-link {
  background-color: var(--cor-branco);
  text-decoration: none;
  font-size: var(--texto-16);
  text-transform: uppercase;
  color: var(--cor-texto);
  transition: color 0.3s ease;
  border: 2px solid transparent;
}

.nav-link:hover {
  border-color: var(--cor-primaria);
}
