.l-advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62.5rem;
  margin-inline: auto;
}

.advantages__title {
  align-self: center;
  text-align: right;
  padding-right: var(--espaco-40);
}

.advantages__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  padding: var(--espaco-52);
  list-style: none;
}

.advantages__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--espaco-8);
  padding: var(--espaco-16) var(--espaco-32);
  align-content: center;
}

.advantages__item-icon {
  justify-self: start;
}

.advantages__item-description {
  grid-column: 2;
}

@media (width <= 56.25rem) {
  .l-advantages {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(7.5rem, auto);
  }

  .advantages__title {
    grid-row: 1;
    text-align: center;
    padding-right: 0;
  }

  .advantages__content {
    grid-row: 2;
    padding: var(--espaco-32) var(--espaco-24);
  }
}
