.l-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62.5rem;
  margin-inline: auto;
}

.banner__content {
  display: grid;
  gap: var(--espaco-24);
  align-content: center;
  text-align: right;
}

.banner__image {
  display: inline-block;
  max-width: 100%;
}

.banner__link {
  justify-self: end;
  display: inline-block;
}

@media (width <= 56.25rem) {
  .l-banner {
    grid-template-columns: 1fr;
  }

  .banner__content {
    text-align: left;
  }

  .banner__link {
    justify-self: start;
  }
}
