.l-header {
  display: flex;
  flex-direction: column;
  gap: var(--espaco-40);
  max-width: 1000px;
  margin-inline: auto;
  text-align: center;
  padding-block: var(--espaco-60) var(--espaco-68);
}

@media (width <= 56.25rem) {
  .l-header {
    gap: var(--espaco-32);
  }
}
