.l-nav-lista {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--espaco-24);
  margin-inline: var(--espaco-20);
}

.l-nav-lista li {
  flex: 0 1 10rem;
}

.l-nav-link {
  display: block;
  padding: var(--espaco-16) var(--espaco-32);
}

@media (max-width: 39.4375rem) {
  .l-nav-link {
    padding: var(--espaco-16) var(--espaco-24);
  }
}

@media (max-width: 37.5rem) {
  .l-nav-link {
    padding: var(--espaco-16) var(--espaco-24);
  }
}
