.l-vantagens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62.5rem;
  margin-inline: auto;
}

.l-vantagens__titulo {
  align-self: center;
  text-align: right;
  padding-right: var(--espaco-40);
}

.l-vantagens__conteudo {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  padding: var(--espaco-52);
  list-style: none;
}

.l-vantagens__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--espaco-8);
  padding: var(--espaco-16) var(--espaco-32);
  align-content: center;
}

.l-vantagens__item-icone {
  justify-self: start;
}

.l-vantagens__item-descricao {
  grid-column: 2;
}

@media (width <= 56.25rem) {
  .l-vantagens {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(7.5rem, auto);
  }

  .l-vantagens__titulo {
    grid-row: 1;
    text-align: center;
    padding-right: 0;
  }

  .l-vantagens__conteudo {
    grid-row: 2;
    padding: var(--espaco-32) var(--espaco-24);
  }
}
